<app-table [headers]="headers">
  <tr *ngFor="let owner of dataOfHeaders">
    <td>
      <label>{{headers[0]}}</label>
      <div>
        {{ owner?.id}}
      </div>
    </td>
    <td>
      <label>{{headers[1]}}</label>
      <div>
        {{ owner?.name| titlecase }}
      </div>
    </td>
    <td>
      <label>{{headers[2]}}</label>
      <div>
        {{ owner?.lastName }}
      </div>
    </td>
    <td>
      <label>{{headers[3]}}</label>
      <div>
        {{ owner?.date | date : 'yyyy/MM/dd'  }}
      </div>
    </td>
    <td>
      <label>{{headers[4]}}</label>
      <div>
        {{ owner?.total | currency }}
      </div>
    </td>
  </tr>
</app-table>