<app-table [headers]="headers" [data]="dataOfHeaders">
  <ng-template #rows let-row>
    <td>
      <label>{{headers[0]}}</label>
      <div>
        {{ row?.id}}
      </div>
    </td>
    <td>
      <label>{{headers[1]}}</label>
      <div>
        {{ row?.name| titlecase }}
      </div>
    </td>
    <td>
      <label>{{headers[2]}}</label>
      <div>
        {{ row?.lastName }}
      </div>
    </td>
    <td>
      <label>{{headers[3]}}</label>
      <div>
        {{ row?.date | date : 'dd/MM/yyyy'  }}
      </div>
    </td>
    <td>
      <label>{{headers[4]}}</label>
      <div>
        {{ row?.total | currency }}
      </div>
    </td>
  </ng-template>

</app-table>